ALLOW_TEST_SHORTCUTS=
DATABASE_URL=
DIRECT_URL=
ENABLE_OTP_DEBUG=
ENABLE_QUICK_LOGIN=
JWT_SECRET=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_IDENTIFIER=
SUPER_ADMIN_NAME=
SUPER_ADMIN_PASS=
SUPER_ADMIN_PHONE=
ZARINPAL_MERCHANT_ID=